---
# tasks file for ansible-mariadb-galera-cluster
- name: ensure NIC specified in 'galera_cluster_bind_interface' exists
  assert:
    that: galera_cluster_bind_interface in ansible_interfaces
    fail_msg: >-
      The NIC name "{{ galera_cluster_bind_interface }}" specified in
      "galera_cluster_bind_interface" does not exist on the target host.
      Available interfaces are: "{{ ansible_interfaces | join(',') }}".
  tags:
    - install
    - config

- name: Ensures required package firewalld are installed
  yum:
    name: firewalld
    state: present

- name: Enable and start the firewalld service
  become: yes
  systemd:
    name: firewalld
    enabled: yes
    state: started

- name: Configure firewall for mariadb/wsrep ports
  become: yes
  firewalld:
    port: "{{ item }}"
    permanent: true
    state: enabled
    immediate: yes
  loop:
    - "3306/tcp"
    - "4567/tcp"
    - "4444/tcp"

- import_tasks: install.yml
  tags:
    - install

- import_tasks: system_performance_tuning.yml
  tags:
    - config

- name: flush handlers before continuing
  meta: flush_handlers
  tags:
    - install
    - config

- import_tasks: mysql_users.yml
  tags:
    - config
    - mysql_users

- import_tasks: setup_cluster.yml
  tags:
    - config

- import_tasks: configure_root_access.yml
  tags:
    - config

- import_tasks: mysql_databases.yml
  tags:
    - mysql_databases
  when: mariadb_databases | count > 0

- import_tasks: galera_monitoring.yml
  tags:
    - config_galera_monitoring
  when: galera_enable_galera_monitoring_script
