# {{ ansible_managed }}
LoadModule proxy_module modules/mod_proxy.so
LoadModule proxy_ajp_module modules/mod_proxy_ajp.so
LoadModule cluster_slotmem_module modules/mod_cluster_slotmem.so
LoadModule manager_module modules/mod_manager.so
LoadModule proxy_cluster_module modules/mod_proxy_cluster.so
LoadModule advertise_module modules/mod_advertise.so

MemManagerFile {{ httpd.home }}/httpd/cache/mod_cluster
PersistSlots On
EnableOptions

<VirtualHost *:80>
  ProxyPreserveHost On
  ProxyRequests Off
  ServerName {{ external_domain_name }}
  ServerAlias {{ ansible_nodename }}
  Redirect permanent / https://{{ external_domain_name }}/
</VirtualHost>

<IfModule manager_module>
  Listen 6666
  <VirtualHost {{ ansible_nodename }}:{{ httpd.mod_cluster.port }}>
    DirectoryIndex disabled
    <Directory />
      Require {{ httpd.mod_cluster.require }}
    </Directory>
    KeepAliveTimeout 60
    MaxKeepAliveRequests 0

    ServerAdvertise on {{ ansible_nodename }}:{{ httpd.mod_cluster.port }}
    AdvertiseFrequency 5
    EnableMCPMReceive

    ManagerBalancerName crossdccluster
    CreateBalancers 0
    LogLevel info
    ErrorLog logs/modcluster.log

    <Location /mod_cluster_manager>
      SetHandler mod_cluster-manager
      Require {{ httpd.mod_cluster.require }}
   </Location>
  </VirtualHost>
</IfModule>
