---
- name: Playbook for JDG Hosts
  hosts: datagrid
  become: true
  collections:
    - middleware_automation.redhat_csp_download
    - middleware_automation.infinispan
  roles:
    - redhat_csp_download
    - role: infinispan
      infinispan_users: "{{ user_accounts }}"
      supervisor_password: "{{ admin_pass }}"
